Repository bloomberg/chef-bach, pull requests merged in 2018-07, with the labels that each got.

#1235 Remove non-existent HDP-UTILS-GPL repo
  cookbooks/bcpc/attributes/default.rb
Labels: Bug, Tested, Upstream

#1236 Remove the hdp-utils-gpl bcpc_repo
  cookbooks/bcpc-hadoop/recipes/hdp_repo.rb
Labels: Bug, Hadoop, Upstream

#1226 Backup
  Berksfile
  cookbooks/bach_backup/README.md
  cookbooks/bach_backup/attributes/default.rb
  cookbooks/bach_backup/files/default/hdfs/jobs.yml
  cookbooks/bach_backup/metadata.rb
  cookbooks/bach_backup/recipes/default.rb
  cookbooks/backup/README.md
  cookbooks/backup/attributes/default.rb
  cookbooks/backup/attributes/hdfs.rb
  cookbooks/backup/files/default/hdfs/jobs.yml
  cookbooks/backup/libraries/oozie_client.rb
  cookbooks/backup/metadata.rb
  cookbooks/backup/recipes/bootstrap.rb
  cookbooks/backup/recipes/cleanup.rb
  cookbooks/backup/recipes/default.rb
  cookbooks/backup/recipes/hdfs.rb
  cookbooks/backup/recipes/properties.rb
  cookbooks/backup/recipes/scheduler.rb
  cookbooks/backup/resources/hdfs_directory.rb
  cookbooks/backup/resources/hdfs_file.rb
  cookbooks/backup/resources/oozie_job.rb
  cookbooks/backup/templates/default/hdfs/backup.properties.erb
  cookbooks/backup/templates/default/hdfs/coordinator.xml.erb
  cookbooks/backup/templates/default/hdfs/groups.properties.erb
  cookbooks/backup/templates/default/hdfs/groups.xml.erb
  cookbooks/backup/templates/default/hdfs/workflow.xml.erb
  cookbooks/bcpc-hadoop/attributes/backup.rb
  cookbooks/bcpc-hadoop/attributes/kerberos.rb
  cookbooks/bcpc-hadoop/recipes/bach_backup_user.rb
  cookbooks/bcpc-hadoop/recipes/bach_backup_wrapper.rb
  stub-environment/roles/BACH-Backup.json
  stub-environment/roles/BCPC-Hadoop-Head-ResourceManager.json
  stub-environment/roles/BCPC-Hadoop-Head.json
  stub-environment/roles/BCPC-Hadoop-Worker.json
Labels: Backups, Breaking, Builds, HDFS, Oozie, Ready to Review

#1237 Add in some useful packages for LDAP debugging
  cookbooks/bcpc/recipes/packages.rb
Labels: Operating System

#1233 Zookeeper updates
  cookbooks/bcpc-hadoop/attributes/default.rb
  cookbooks/bcpc-hadoop/attributes/jmxtrans_agent.rb
  cookbooks/bcpc-hadoop/attributes/zookeeper.rb
  cookbooks/bcpc-hadoop/recipes/zookeeper_impl.rb
  cookbooks/bcpc-hadoop/templates/default/zk_zoo.cfg.erb
  cookbooks/bcpc-hadoop/templates/default/zk_zookeeper-env.sh.erb
Labels: Builds, Metrics/Alarming, Tested, Zookeeper, to-backport

#1238 Tune jute max buffer
  cookbooks/bcpc-hadoop/attributes/default.rb
  cookbooks/bcpc-hadoop/attributes/yarn.rb
  cookbooks/bcpc-hadoop/recipes/hbase_env.rb
Labels: Builds, Enhancement, HBase, Hadoop, Ready To Merge, Ready to Review, Tested, YARN, to-backport

#1231 Fix Oozie high-availability hosts.
  cookbooks/bcpc-hadoop/attributes/default.rb
  cookbooks/bcpc-hadoop/libraries/utils.rb
Labels: Bug, Oozie, Ready To Merge, Ready to Review

#1242 Kerberos support for Kafka
  cookbooks/bcpc-hadoop/attributes/kerberos.rb
  cookbooks/bcpc-hadoop/recipes/zookeeper_impl.rb
  cookbooks/bcpc/attributes/default.rb
  cookbooks/bcpc_kafka/attributes/default.rb
  cookbooks/bcpc_kafka/recipes/kafka.rb
  cookbooks/bcpc_kafka/recipes/zookeeper_server.rb
  cookbooks/bcpc_kafka/templates/default/kafka/jaas.conf.erb
  tests/automated_install.sh
  tests/screenrc
  tests/virtualbox_serial_console.sh
  vbox_create.sh
Labels: Kafka, Kerberos, Ready to Review

#1243 Allow overriding YARN/MR banned.users via an attribute
  cookbooks/bcpc-hadoop/attributes/yarn.rb
  cookbooks/bcpc-hadoop/templates/default/hdp_container-executor.cfg.erb
Labels: Map/Reduce, YARN, to-backport
